body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(240.64deg, #FDFBFB 0%, #EBEDEE 100%);
}

.main-text {
  font-size: 48px;
  margin: 36px 0;
	background: linear-gradient(to right, #F093FB 0%, #F5576C 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.container-box{
  display: flex;
  flex-direction: column;
}

.rangeContainerStyle{
  display: flex;
  justify-content: space-between;
}

.rangeStyle{
  height: 6px;
  appearance: none;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 4px 20px rgba(167, 215, 197, 0.1);
}

.rightRange{
  transform: rotate(180deg);
}

.rangeStyle::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-color: #F175B3;;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

#main-box{
  width: 468px;
  height: 468px;
  margin: 20px auto;
  background: linear-gradient(135deg, #F093FB 0%, #F5576C 100%);
}

.container-options{
  display: flex;
  flex-direction: row;
  width: 264px;
  margin: 32px auto;
  justify-content: space-between;
}

.container-code{
  display: flex;
  justify-content: center;
}

.box-code {
  text-align: center;
  background: #fff;
  padding: 16px 36px;
  color: #365351;
  box-shadow: 0px 4px 20px rgba(167, 215, 197, 0.1);
  border-radius: 8px 0 0 8px;
}

.button-clipboard{
  background: #FDFBFB;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.author{
  display: flex;
  margin-top: 48px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.author span{
  color: #F275B3;
}

.author span a{
  color: #F275B3;
  text-decoration: none;
  font-weight: 700;
}

textarea{
  position: absolute;
  left: -100%;
}

@media (max-width: 600px){
  #main-box{
    width: 300px;
    height: 300px;
  }
}