body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  background: #F4F9F4;
}

.main-text {
  font-size: 48px;
  color: #A7D7C5;
  margin: 36px 0;
}

.main-text-bold{
  color: #74B49B;
}

.container-box{
  display: flex;
  flex-direction: column;
}

.rangeContainerStyle{
  display: flex;
  justify-content: space-between;
}

.rangeStyle{
  height: 6px;
  appearance: none;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 4px 20px rgba(167, 215, 197, 0.1);
}

.rightRange{
  transform: rotate(180deg);
}

.rangeStyle::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-color: #74B49B;
  width: 18px;
  height: 18px;
  border-radius: 50%;

}


#main-box{
  width: 468px;
  height: 468px;
  margin: 20px 0;
  background: linear-gradient(141.6deg, #A7D7C5 8.34%, #5C8D89 82.78%);
}

.container-options{
  display: flex;
  flex-direction: row;
  width: 264px;
  margin: 36px auto;
  justify-content: space-between;
}

.container-code{
  display: flex;
  justify-content: center;
}

.box-code {
  text-align: center;
  background: #fff;
  padding: 20px 36px;
  color: #365351;
  box-shadow: 0px 4px 20px rgba(167, 215, 197, 0.1);
  border-radius: 8px 0 0 8px;
}

.button-clipboard{
  background: #F2F2F2;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.author{
  display: flex;
  margin-top: 68px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.author span{
  color: #A7D7C5;
}

.author span a{
  color: #74B49B;
  text-decoration: none;
  font-weight: 700;
}

textarea{
  position: absolute;
  left: -100%;
}